venv/ # Ignore virtual environment directory
__pycache__/ # Ignore Python bytecode files
*.pyc           # Ignore compiled Python files
reports/ # Ignore test reports
allure-report/ # Ignore Allure test reports
.env # Ignore environment variables file